<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trang cá nhân</title>
    <link rel="shortcut icon" href="/assets/img/icon.ico" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
    />
    <link
      rel="stylesheet"
      href="/assets/icons/fontawesome-free-6.2.1-web/css/all.css"
    />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="./profile.css" />
    <link rel="stylesheet" href="../home/home.css" />
  </head>
  <body>
    <div id="profile">
      <header class="header">
        <div class="header-item menu-bar">
          <i class="fa-solid fa-bars"></i>
        </div>
        <div class="header-item logo">
          <a href="../home/index.html"
            ><img src="/assets/img/logo.png" alt=""
          /></a>
        </div>
        <div class="header-item search">
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
      </header>
      <div class="overlay w3-animate-opacity"></div>
      <div class="info">
        <i class="info-exits fa-solid fa-xmark"></i>
        <ul class="info-list">
          <li class="info-item"><i class="fa-solid fa-user"></i>Profile</li>
          <li class="info-item">Setting</li>
          <li class="info-item">Sign Out</li>
        </ul>
      </div>
      <div class="profile-container">
        <header class="header-profile">
          <div class="header-profile-item">
            <img src="/assets/img/profile/avt.jpg" alt="" />
            <div class="header-profile-desc">
              <span>Dung Nguyen</span>
              <p>4 bạn bè</p>
              <p>4 bài viết</p>
            </div>
          </div>
        </header>
        <div class="profile-main">
          <div class="profile-posts">
            <div class="profile-post-item">
              <div class="post-author">
                <img src="" alt="" />
                <p></p>
              </div>
              <div class="post-body">
                <h5 class="post-title"></h5>
                <p class="post-content"></p>
                <img src="" alt="" />
              </div>
              <div class="post-action">
                <div class="blog-post-action-item">
                  <i class="fa-solid fa-thumbs-up"></i>
                  <span>4.6K</span>
                </div>
                <div class="blog-post-action-item">
                  <span>203 bình luận</span>
                  <span>100 lượt chia sẻ</span>
                </div>
              </div>
            </div>
            <div class="profile-post-item">
              <div class="post-author">
                <img src="" alt="" />
                <p></p>
              </div>
              <div class="post-body">
                <h5 class="post-title"></h5>
                <p class="post-content"></p>
                <img src="" alt="" />
              </div>
              <div class="post-action">
                <div class="blog-post-action-item">
                  <i class="fa-solid fa-thumbs-up"></i>
                  <span>4.6K</span>
                </div>
                <div class="blog-post-action-item">
                  <span>203 bình luận</span>
                  <span>100 lượt chia sẻ</span>
                </div>
              </div>
            </div>
            <div class="profile-post-item">
              <div class="post-author">
                <img src="" alt="" />
                <p></p>
              </div>
              <div class="post-body">
                <h5 class="post-title"></h5>
                <p class="post-content"></p>
                <img src="" alt="" />
              </div>
              <div class="post-action">
                <div class="blog-post-action-item">
                  <i class="fa-solid fa-thumbs-up"></i>
                  <span>4.6K</span>
                </div>
                <div class="blog-post-action-item">
                  <span>203 bình luận</span>
                  <span>100 lượt chia sẻ</span>
                </div>
              </div>
            </div>
            <div class="profile-post-item">
              <div class="post-author">
                <img src="" alt="" />
                <p></p>
              </div>
              <div class="post-body">
                <h5 class="post-title"></h5>
                <p class="post-content"></p>
                <img src="" alt="" />
              </div>
              <div class="post-action">
                <div class="blog-post-action-item">
                  <i class="fa-solid fa-thumbs-up"></i>
                  <span>4.6K</span>
                </div>
                <div class="blog-post-action-item">
                  <span>203 bình luận</span>
                  <span>100 lượt chia sẻ</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="profile-null">
          <h5>Chưa có bài viết nào</h5>
        </div>
      </div>
      <footer class="footer">
        <div class="header-item logo">
          <img src="/assets/img/logo.png" alt="" />
        </div>
        <div class="footer-contact">
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-youtube"></i>
        </div>
        <div class="footer-title">
          <p>Since 2022</p>
        </div>
      </footer>
    </div>

    <script type="module" src="./profile.js"></script>
    <script type="module" src="/components/home/home.js"></script>
  </body>
</html>
