@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f6f6f6;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

/* HEADER */
.header {
  height: 100px;
  background-color: rgb(222, 109, 128);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  transition: 0.3s;
}
.header.is-hidden {
  transform: translateY(-100%);
  transition: transfrom linear 0.3s;
}
.header.is-visible {
  transform: translateY(0);
  transition: transfrom linear 0.3s;
}
.header-item {
  font-size: 20px;
  width: 220px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-item:hover {
  color: #fff;
}
.logo {
  padding: 16px;
  cursor: pointer;
}
.logo img {
  width: 100%;
}

/* OVERLAY */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 6;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
}

.overlay.active {
  display: block;
}

/* INFO */
.info {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  z-index: 9;
  background-color: #777;
  transform: translateX(-100%);
  transition: transform linear 0.2s;
}
.info.active {
  transform: translateX(0%) !important;
}
.info-list {
  margin-top: 40px;
  color: #fff;
  background-color: #333;
}
.info-item {
  height: 60px;
  font-size: 18px;
  line-height: 60px;
  cursor: pointer;
  padding-left: 16px;
}
.info-item:hover {
  background-color: rgb(222, 109, 128);
  color: #fff;
}
.info-exits {
  font-size: 28px;
  position: absolute;
  width: 32px;
  padding: 6px 16px 16px 0;
  top: 0;
  right: 0;
  line-height: 32px;
  color: #fff;
}
.info-exits:hover {
  color: #000;
}
.info-item:first-child i {
  display: none;
}
.info-item.user i {
  display: inline-block;
  margin-right: 16px;
}

/* NAVTGATION */

.navigation {
  margin-top: 100px;
  height: 60px;
  background-color: #333;
  padding: 0 130px;
  line-height: 60px;
  position: fixed;
  left: 0;
  right: 0;
  transition: 0.3s;
}
.nav-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
}
.nav-item:first-child,
.nav-item:last-child {
  display: none;
}
.nav-item:first-child.active,
.nav-item:last-child.active {
  display: block;
}

.nav-item {
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
}
.nav-item:hover {
  opacity: 0.8;
}
.nav-list-2 {
  font-size: 14px;
  position: absolute;
  background-color: #333;
  width: 200px;
  left: -8px;
  display: none;
  transition: 0.5s;
  opacity: 0;
}
.nav-item:hover .nav-list-2 {
  display: block;
  opacity: 1;
}

.nav-item-2 {
  padding-left: 8px;
}
.nav-item-2:hover {
  background-color: rgb(222, 109, 128);
  color: #333;
}

/* CONTAINER */
.container {
  height: 3350px;
}

/* FOOTER */
.footer {
  height: 200px;
  background-color: #333;
}
.footer .logo {
  margin: 0 auto;
}
.footer-contact {
  margin: 20px auto;
  display: flex;
  justify-content: center;
}
.footer-contact i {
  margin: 0 16px;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}
.footer-contact i:hover {
  color: rgb(222, 109, 128);
}

.footer-title {
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: center;
}
