<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
    <link rel="shortcut icon" href="/assets/img/icon.ico" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
    />
    <link
      rel="stylesheet"
      href="/assets/icons/fontawesome-free-6.2.1-web/css/all.css"
    />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="./blog.css" />
    <link rel="stylesheet" href="../home/home.css" />
  </head>
  <body>
    <div id="blog">
      <header class="header">
        <div class="header-item menu-bar">
          <i class="fa-solid fa-bars"></i>
        </div>
        <div class="header-item logo">
          <a href="../home/index.html"
            ><img src="/assets/img/logo.png" alt=""
          /></a>
        </div>
        <div class="header-item search">
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
      </header>
      <div class="overlay w3-animate-opacity"></div>
      <div class="info">
        <i class="info-exits fa-solid fa-xmark"></i>
        <ul class="info-list">
          <li class="info-item"><i class="fa-solid fa-user"></i>Profile</li>
          <li class="info-item">Setting</li>
          <li class="info-item">Sign Out</li>
        </ul>
      </div>
    </div>

    <div class="blog-container">
      <!-- left sidebar -->
      <div class="left-sidebar">
        <ul class="left-list">
          <li class="left-item">
            <i class="fa-solid fa-users"></i>
            <a href="">Group</a>
          </li>
          <li class="left-item">
            <i class="fa-solid fa-bookmark"></i>
            <a href="">Saved</a>
          </li>
          <li class="left-item">
            <i class="fa-solid fa-shop"></i>
            <a href="">Marketplace</a>
          </li>
        </ul>
      </div>
      <!-- main blog -->
      <div class="main-sidebar">
        <header class="header-blog">
          <div class="header-blog-item">
            <img src="/assets/img/profile/avt.jpg" alt="" />
            <input type="text" placeholder="Bạn đang nghĩ gì?" />
          </div>
          <div class="header-blog-item">
            <div class="header-blog-item2">
              <i class="fa-solid fa-video"></i>
              <p>Video trực tiếp</p>
            </div>
            <div class="header-blog-item2">
              <i class="fa-solid fa-images"></i>
              <p>Ảnh/Video</p>
            </div>
            <div class="header-blog-item2">
              <i class="fa-solid fa-face-smile"></i>
              <p>Cảm xúc/Hoạt động</p>
            </div>
          </div>
        </header>
        <div class="blog-posts">
          <div class="blog-post-item">
            <div class="blog-post-author">
              <img src="/assets/img/karik.jpg" alt="" />
              <p>Karik</p>
            </div>
            <div class="blog-post-body">
              <p>
                Ayo các homies ơi! Chỉ 3 ngày nữa thôi, chúng ta sẽ bùng cháy
                với đa vũ trụ âm nhạc siêu chất Heineken Refresh! Karik đã rất
                rất sẵn sàng mang đến một đêm bùng nổ cho các Rikers! Một siêu
                concert với những màn siêu kết hợp đa dòng nhạc cùng bộ đôi DJ
                quốc tế The Chainsmokers, còn lí do gì để bỏ lỡ nhau??? 10/12
                tại Siêu trung tâm Q1 - Đại lộ Lê Lợi, hãy cho Rik thấy sự bùng
                nổ và hết mình của các anh em nha!!!Ayo các homies ơi! Chỉ 3
                ngày nữa thôi, chúng ta sẽ bùng cháy với đa vũ trụ âm nhạc siêu
                chất Heineken Refresh! Karik đã rất rất sẵn sàng mang đến một
                đêm bùng nổ cho các Rikers! Một siêu concert với những màn siêu
                kết hợp đa dòng nhạc cùng bộ đôi DJ quốc tế The Chainsmokers,
                còn lí do gì để bỏ lỡ nhau??? 10/12 tại Siêu trung tâm Q1 - Đại
                lộ Lê Lợi, hãy cho Rik thấy sự bùng nổ và hết mình của các anh
                em nha!!!
              </p>
              <img src="/assets/img/karik-post.jpg" alt="" />
            </div>
            <div class="blog-post-action">
              <div class="blog-post-action-item">
                <i class="fa-solid fa-thumbs-up"></i>
                <span>4.6K</span>
              </div>
              <div class="blog-post-action-item">
                <span>203 bình luận</span>
                <span>100 lượt chia sẻ</span>
              </div>
            </div>
            <div class="blog-post-btn">
              <div class="blog-post-btn-item">
                <i class="fa-regular fa-thumbs-up"></i>
                <span>Thích</span>
              </div>
              <div class="blog-post-btn-item">
                <i class="fa-regular fa-comment"></i>
                <span>Bình luận</span>
              </div>
              <div class="blog-post-btn-item">
                <i class="fa-solid fa-share"></i>
                <span>Chia sẻ</span>
              </div>
            </div>
          </div>
          <div class="blog-post-item">
            <div class="blog-post-author">
              <img src="/assets/img/sontung.jpg" alt="" />
              <p>Sơn Tùng</p>
            </div>
            <div class="blog-post-body">
              <p>Waiting for someone to ask me out !</p>
              <img src="/assets/img/sontung-post.jpg" alt="" />
            </div>
            <div class="blog-post-action">
              <div class="blog-post-action-item">
                <i class="fa-solid fa-thumbs-up"></i>
                <span>4.6K</span>
              </div>
              <div class="blog-post-action-item">
                <span>203 bình luận</span>
                <span>100 lượt chia sẻ</span>
              </div>
            </div>
            <div class="blog-post-btn">
              <div class="blog-post-btn-item">
                <i class="fa-regular fa-thumbs-up"></i>
                <span>Thích</span>
              </div>
              <div class="blog-post-btn-item">
                <i class="fa-regular fa-comment"></i>
                <span>Bình luận</span>
              </div>
              <div class="blog-post-btn-item">
                <i class="fa-solid fa-share"></i>
                <span>Chia sẻ</span>
              </div>
            </div>
          </div>
          <div class="blog-post-item">
            <div class="blog-post-author">
              <img src="/assets/img/rose.jpg" alt="" />
              <p>ROSE' BlackPink</p>
            </div>
            <div class="blog-post-body">
              <p>❄️🌭</p>
              <img src="/assets/img/rose-post.jpg" alt="" />
            </div>
            <div class="blog-post-action">
              <div class="blog-post-action-item">
                <i class="fa-solid fa-thumbs-up"></i>
                <span>4.6K</span>
              </div>
              <div class="blog-post-action-item">
                <span>203 bình luận</span>
                <span>100 lượt chia sẻ</span>
              </div>
            </div>
            <div class="blog-post-btn">
              <div class="blog-post-btn-item">
                <i class="fa-regular fa-thumbs-up"></i>
                <span>Thích</span>
              </div>
              <div class="blog-post-btn-item">
                <i class="fa-regular fa-comment"></i>
                <span>Bình luận</span>
              </div>
              <div class="blog-post-btn-item">
                <i class="fa-solid fa-share"></i>
                <span>Chia sẻ</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- right sidebar -->
      <div class="right-sidebar">
        <div class="right-control">
          <p>Friend list</p>
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <ul class="right-list">
          <li class="right-item">
            <img src="/assets/img/karik.jpg" alt="" />
            <p>Karik</p>
          </li>
          <li class="right-item">
            <img src="/assets/img/sontung.jpg" alt="" />
            <p>Sơn Tùng</p>
          </li>
          <li class="right-item">
            <img src="/assets/img/rose.jpg" alt="" />
            <p>ROSE'</p>
          </li>
        </ul>
      </div>
    </div>
    <script type="module" src="./blog.js"></script>
    <script type="module" src="/components/home/home.js"></script>
  </body>
</html>
